{% extends 'base.html' %}


{% block title %}
    Delete View
{% endblock title %}
    


{% block header %}
    Delete View
{% endblock header %}
    
{% block content %}
<div class="container">
    <a href="{% url 'blog:list' %}" class="btn btn-secondary">Goto Back</a>
    <div class="m-2">
        <div class="card">
            <div class="p-5">
                Do you really want to delete blog post with title : {{blog.title}} ?
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger mt-3" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
